<div class="mt-5">
    <app-topbar item="KYC Verfication"></app-topbar>
    <main class="p-5">
        <div class="w-full p-5 pt-0 max-h-[18rem] h-[18rem]">
            <img src="assets/images/Group 429.svg" class="w-full h-full">
        </div>
        <div class="">
            <p class="text-sm mb-5 text-center">To begin your KYC verification please click on the verify me button below</p>
            <div class="flex gap-2 flex-col p-5 items-center justify-center">
                <app-meta-map [propertyId]="propertyId"></app-meta-map>
                
            </div>
        </div>
    </main>
</div>