<div class="mt-5">
    <app-topbar item="KYC Verfication"></app-topbar>
    <main class="p-5">
        <div class="w-full p-5 pt-0 max-h-[18rem] h-[18rem]">
            <img src="assets/images/Group 429.svg" class="w-full h-full">
        </div>
        <div class="">
            <p class="text-sm mb-5">Your KYC verification will involve 3 steps. please select your preferred KYC
                ID/Document below</p>
            <div class="flex gap-2 flex-col p-5">
                <div
                    class="flex px-5 w-full py-3 justify-between items-center bgtext-white border rounded-lg border-main-light cursor-pointer">
                    <div class="basis-2/5">
                        <img src="assets/images/solar_user-id-bold-duotone.svg" class="">
                    </div>
                    <div class="text-left w-full basis-3/5">
                        <p class="text-sm px-3">National ID Card</p>
                    </div>
                </div>
                <div
                    class="flex px-5 w-full py-3 justify-between items-center bgtext-white border rounded-lg border-main-light cursor-pointer">
                    <div class="basis-2/5">
                        <img src="assets/images/solar_card-2-bold-duotone.svg" class="">
                    </div>
                    <div class="text-left w-full basis-3/5">
                        <p class="text-sm px-3">Driver's Licence</p>
                    </div>
                </div>
                <div
                    class="flex px-5 w-full py-3 justify-between items-center bgtext-white border rounded-lg border-main-light cursor-pointer">
                    <div class="basis-2/5">
                        <img src="assets/images/icon-park-twotone_id-card.svg" class="">
                    </div>
                    <div class="text-left w-full basis-3/5">
                        <p class="text-sm px-3">Voter's Card</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>