<div class="">
    <app-topbar item="Account Details"></app-topbar>

    <!-- form -->
    <div class="px-5">
        <form [formGroup]="claimForm" (ngSubmit)="onSubmit()">
            <p class="text-xs font-medium text-gray-500 mb-5">Please input your payment account details </p>
            <div class="mb-4">
                <h3 class="text-sm font-medium mb-2">
                    Account Name
                </h3>
                <input formControlName="accountName"
                    class="border border-main-dark rounded-md outline-none w-full py-3 px-4 text-sm" type="text"
                    placeholder="Account Name">
                <!-- Display validation error message if the field is touched and invalid -->
                <div *ngIf="claimForm?.get('accountName')?.touched && claimForm?.get('accountName')?.hasError('required')"
                    class="text-red-500 text-xs mt-1">Account Name is required</div>
            </div>
            <div class="mb-4">
                <h3 class="text-sm font-medium mb-2">
                    Account Number
                </h3>
                <input formControlName="accountNumber"
                    class="border border-main-dark rounded-md outline-none w-full py-3 px-4 text-sm" type="text"
                    placeholder="Account Number">
                <!-- Display validation error message if the field is touched and invalid -->
                <div *ngIf="claimForm.get('accountNumber')?.touched && claimForm.get('accountNumber')?.hasError('required')"
                    class="text-red-500 text-xs mt-1">Account Number is required</div>
            </div>
            <div class="mb-4">
                <h3 class="text-sm font-medium mb-2">
                    Bank Name
                </h3>
                <input formControlName="bankName"
                    class="border border-main-dark rounded-md outline-none w-full py-3 px-4 text-sm" type="text"
                    placeholder="Bank name here">
                <!-- Display validation error message if the field is touched and invalid -->
                <div *ngIf="claimForm.get('bankName')?.touched && claimForm.get('bankName')?.hasError('required')"
                    class="text-red-500 text-xs mt-1">Bank Name is required</div>
            </div>
            <button type="submit"
                class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
                Proceed
            </button>
        </form>
    </div>


    <!-- preview -->
    <div class="px-4">
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Account Name</h3>
                <h3 class="text-xs text-black">Okafor Aaron</h3>
            </div>
        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Account Number</h3>
                <h3 class="text-xs text-black">78384678438743</h3>
            </div>
        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Bank Name</h3>
                <h3 class="text-xs text-black">Bank of America</h3>
            </div>
        </div>

        <button type="button"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Confirm
        </button>
    </div>

</div>
<!-- success -->
<div class="">
    <app-all-done title="Done" body="Your money will be sent soon." image="Group 431.svg" page_link="/my-property"
        page_to="My Properties"></app-all-done>
</div>