<div class="py-5">
    <app-topbar item="Support"></app-topbar>
    <div class="px-5">
        <h2 class="text-gray-500 text-base mb-4 font-semibold">Send us a message and we will reply to your preferred email address</h2>
        <form class="">
            <div class="mb-3">
                <h3 class="text-sm font-medium mb-2">Preferred Email</h3>
                <input class="border px-4 py-3 w-full rounded-lg text-sm placeholder:text-gray-500" placeholder="hsg@gmail.com">
            </div>
            <div class="mb-3">
                <h3 class="text-sm font-medium mb-2">Your Message</h3>
                <textarea class="border px-4 py-3 w-full h-40 rounded-lg text-sm placeholder:text-gray-500" placeholder="Your message here"></textarea>
            </div>
        </form>
        <div class="flex flex-col gap-4 mt-20">

            <button type="button"
                class="w-full text-center py-3 text-sm border rounded-lg font-bold bg-main-dark text-white border-main-dark"
                >
                Confirm
            </button>
        </div>
    </div>
</div>