<header class="p-5 mb-5">
    <div class="relative">
        <h2 class="font-bold text-lg text-center">{{title}}</h2>
    </div>
</header>
<main class="p-5">
    <div class="w-full p-10 max-h-[20rem] h-[20rem]">
    <img src="assets/images/{{image}}" class="w-full h-full">
</div>
    <h2 class="font-bold text-main-dark text-center">All done!</h2>
    <button type="button" routerLink="{{page_link}}"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            {{page_to}}
        </button>

</main>