<div class="bg-white flex justify-end items-end h-screen flex-col ">
    <div class="h-10"></div>
    <div class="w-full flex flex-col items-center">
        <img src="assets/images/amico.svg" class="object-center" alt="">
    </div>
    <div class="relative flex justify-end items-end flex-col w-full h-[220px]">
        <div class="block p-5 w-full bg-[url('assets/images/wave.svg')] bg-cover text-white">
            <h2 class="font-bold mb-2 mt-5">Earth Sellers</h2>
            <p class="text-xs mb-4">If it’s property you seek then property you shall find.
                let’s get started shall we!!</p>
            <button type="button" (click)="loginWithRedirect()"
                class="w-full mb-2 text-sm text-center py-2 border-2 rounded-md font-bold bg-white text-main-dark border-white">
                Log in
            </button>
            <button type="button"  (click)="loginWithRedirect()"
                class="w-full mb-2 text-sm text-center py-2 border-2 rounded-md font-bold text-white border-white">
                Sign up
            </button>
        </div>
        <!-- <img src="assets/images/wave.svg" class="w-full h-full" alt=""> -->
    </div>
</div>