<div>
    <header class="p-5">
        <div class="grid grid-cols-3">
            <div class="">
                <button class="" (click)="back.emit()">
                    <img class="" src="assets/images/arrow-square-left.svg">
                </button>
            </div>
            <div class="font-bold text-lg text-center">Upload</div>
            <div class="ml-auto"><button
                    class="bg-main-dark text-white text-sm px-2 py-1  rounded-2xl font-bold" (click)="onConfrim()">Continue</button>
            </div>
        </div>
    </header>
    <main class="px-5">
        <div class="flex gap-2 flex-wrap">
            <!-- Display images -->
            <div *ngFor="let media of mediaFiles; let i = index" class="relative w-fit border-main-dark border rounded">
                <ng-container *ngIf="media.type === 'image'">
                    <img class="w-28 h-28 rounded" [src]="media.url" alt="Uploaded Image">
                </ng-container>
                <ng-container *ngIf="media.type === 'video'">
                    <video class="w-28 h-28 rounded" [src]="media.url" controls>
                        Your browser does not support the video tag.
                    </video>
                </ng-container>
                <div class="absolute top-2 right-1">
                    <button (click)="removeMedia(i)">
                        <img src="assets/images/close.svg" class="w-6 h-6" alt="Remove Media">
                    </button>
                </div>
            </div>
            <!-- Upload button -->
            <div (click)="mediaInput.click()"
                 class="w-28 h-28 border-main-dark border rounded flex items-center justify-center cursor-pointer">
                <img src="assets/images/camera.png" alt="Upload Media">
            </div>
            <!-- File input -->
            <input type="file" #mediaInput [style.display]="'none'" accept="image/*, video/*" multiple
                   (change)="onMediaChange($event)">
        </div>
    </main>
    
    
</div>
