<div>
    <header class="p-5">
        <div class="grid grid-cols-3">
            <div class="">
                <button class="" (click)="goBack()">
                    <img class="" src="assets/images/arrow-square-left.svg">
                </button>
            </div>
            <div class="font-bold text-lg text-center">Upload</div>
            <div class="ml-auto"><button
                    class="bg-main-dark text-white text-sm px-2 py-1  rounded-2xl font-bold">Confirm</button>
            </div>
        </div>
    </header>
    <main class="p-5">
        <div class="mb-10">
            <h2 class="font-semibold">Image</h2>
            <div class="relative border rounded-lg h-48 border-main-dark">
                <div class="w-full h-full bg-slate-50 rounded-lg" *ngIf="!selectedImage"></div>
                <img id="uploadedImage" class="w-full h-48 brightness-50" src="" alt="" *ngIf="selectedImage">
                <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <button (click)="selectImageFile()">
                        <img src="assets/images/icons8-camera-30.png" class="w-6 h-6">
                    </button>
                    <input type="file" #imageInput [style.display]="'none'" accept="image/*"
                        (change)="onImageChange($event)">
                </div>
                <div class="absolute top-2 right-1">
                    <button (click)="removeImageFile()">
                        <img src="assets/images/close.svg" class="w-6 h-6">
                    </button>
                </div>
            </div>
        </div>
        <div class="">
            <h2 class="font-semibold">Video</h2>
            <div class="relative border rounded-lg h-48 border-main-dark">
                <div class="w-full h-full bg-slate-50 rounded-lg" *ngIf="!selectedVideo"></div>
                <video id="uploadedVideo" class="w-full h-48 brightness-50" src="" alt="" controls
                    *ngIf="selectedVideo"></video>
                <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <button (click)="selectVideoFile()">
                        <img src="assets/images/icons8-video-50.png" class="w-6 h-6">
                    </button>
                    <input type="file" #videoInput [style.display]="'none'" accept="video/*"
                        (change)="onVideoChange($event)">
                </div>
                <div class="absolute top-2 right-1">
                    <button (click)="removeVideoFile()">
                        <img src="assets/images/close.svg" class="w-6 h-6">
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>