<div class="p-5">
    <div class="mb-3">
        <button class="" (click)="goBack()">
            <img class="" src="assets/images/arrow-square-left.svg">
        </button>
    </div>
    <div class="mt-20">
        <h2 class="font-bold">
            Change Password?
        </h2>
        <h2 class="text-sm text-gray-500">Enter your new password</h2>
    </div>
    <div class="mt-10">
        <form (ngSubmit)="changePasswordFormSubmit(changePasswordForm)" #changePasswordForm="ngForm">
            <div class="mb-3">
                <label class="text-[13px] font-medium mb-3" for="oldPassword">
                    Old Password
                </label>
                <div class="flex border rounded-lg border-main-light bg-white  px-1 py-1 items-center">
                    <input id="oldPassword" class="w-full text-xs py-2 px-2 outline-none" name="oldPassword"
                        placeholder="" type="{{ oldPasswordVisible ? 'text' : 'password' }}" ngModel required>
                    <button type="button" (click)="togglePasswordVisibility('oldPassword')">
                        <img src="assets/images/eye.svg" class="w-4 h-5  cursor-pointer">
                    </button>
                </div>
                <div class="text-red-500 text-xs mt-1"
                    *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') && changePasswordForm.controls['oldPassword'].touched">
                    Old Password is required.
                </div>
            </div>

            <!-- New Password -->
            <div class="mb-3">
                <label class="text-[13px] font-medium mb-3" for="newPassword">New Password</label>
                <div class="flex border rounded-lg border-main-light bg-white px-1 py-1 items-center">
                    <input id="newPassword" class="w-full text-xs py-2 px-2 outline-none" name="newPassword"
                        placeholder="" type="{{ newPasswordVisible ? 'text' : 'password' }}" [(ngModel)]="changePasswordForm.value.newPassword" />
                    <button type="button" (click)="togglePasswordVisibility('newPassword')">
                        <img src="assets/images/eye.svg" class="w-4 h-5" />
                    </button>
                </div>
                <div *ngIf="isFormSubmitted && formErrors['newPassword']" class="text-red-500 text-xs mt-1">
                    {{ formErrors['newPassword'] }}
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label class="text-[13px] font-medium mb-3" for="confirmPassword">Re-enter Password</label>
                <div class="flex border rounded-lg border-main-light bg-white px-1 py-1 items-center">
                    <input id="confirmPassword" class="w-full text-xs py-2 px-2 outline-none" name="confirmPassword"
                        placeholder="" type="{{ confirmPasswordVisible ? 'text' : 'password' }}"
                        [(ngModel)]="changePasswordForm.value.confirmPassword" />
                    <button type="button" (click)="togglePasswordVisibility('confirmPassword')" class="cursor-pointer">
                        <img src="assets/images/eye.svg" class="w-4 h-5" />
                    </button>
                </div>
                <div *ngIf="isFormSubmitted && formErrors['confirmPassword']" class="text-red-500 text-xs mt-1">
                    {{ formErrors['confirmPassword'] }}
                </div>
            </div>
            <div class="flex flex-col gap-4 mt-10">

                <button type="button"
                    class="w-full text-center py-3 border rounded-lg font-bold bg-main-dark text-white border-main-dark"
                    (click)="changePasswordFormSubmit(changePasswordForm)">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</div>