<div class="flex gap-2 items-center py-5 justify-between px-5">
    <div class="rounded-3xl border-main-dark border flex p-2 items-center w-full">
        <img src="assets/images/search-normal.svg" class="w-6 h-6" alt="search-icon">
        <input class="w-full outline-none rounded-r-xl pl-3 bg-transparent placeholder:font-semibold" type=""
            placeholder="Search" routerLink="/search" />
    </div>
    <!-- <div class="flex gap-1">
        <button class="border-0">
            <img src="assets/images/sort.svg" class="w-6 h-6" alt="filter" />
        </button>
        <button class="border-0">
            <img src="assets/images/filter.svg" class="w-6 h-6" alt="filter" />
        </button>
    </div> -->
</div>