<div class="mt-5">
    <app-topbar item="Payment"></app-topbar>
    <main class="p-5 pt-0">
        <div>
            <p class="font-medium mb-5">
                You are to pay N5000 for your property to trend
            </p>
            <p class="font-medium mb-5">Upon clicking Continue, an invoice will be generated which you can use to make
                the necessary payment.</p>
        </div>
        <div>
            <button type="button" (click)="confirmPayment()"
                class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
                Procced to Payment
            </button>
        </div>
    </main>
</div>