<header class="p-5">
    <div class="flex items-center justify-between">
        <div>
            <h2 class="text-[18px] text-main-dark font-bold">Trending</h2>
        </div>
        <div class="flex rounded-3xl bg-main-light">
            <button class="rounded-l-3xl py-1 px-3 font-bold"
                [class]="selectedCategory === 'land' ? 'bg-main-dark text-white' : 'text-main-dark'"
                (click)="filterData('land')">
                Land
            </button>
            <button class="py-1 px-3 font-bold text-main-dark"
                [class]="selectedCategory === 'real_estate' ? 'bg-main-dark text-white' : 'text-main-dark'"
                (click)="filterData('real_estate')">
                Estate
            </button>
            <button class="py-1 px-3 font-bold text-main-dark"
                [class]="selectedCategory === 'Rent' ? 'bg-main-dark text-white rounded-r-3xl' : 'text-main-dark'"
                (click)="filterData('Rent')">
                Rent
            </button>
        </div>
    </div>
</header>

<section class="p-5 bg-main-light">
    <div class="flex gap-2 overflow-y-hidden overflow-x-scroll">
        <div class="bg-white rounded-xl p-2 h-[125px] max-w-[170px] min-w-[170px] justify-between flex flex-col cursor-pointer"
            (click)="selectCard(item)" *ngFor="let item of filteredData"
            [ngClass]="{'brightness-75': item === selectedCard}">
            <!-- Add 'selected-item' class if item is selected -->
            <div>
                <h3 class="font-bold text-[13px]">{{item.title}}</h3>
                <div class="flex items-baseline py-1">
                    <img src="assets/images/location.svg" class="w-3 h-3 text-xs" alt="location">
                    <span class="text-xs text-main-dark">{{item.location}}</span>
                </div>
            </div>
            <h4 class="text-main-dark font-bold text-xs">N{{item.price}}</h4>
            <div class="flex items-center gap-1 justify-between">
                <div class="flex items-center gap-1">
                    <div class="flex items-center bg-gradient-to-l from-black to-[#000000BF] p-1"
                        *ngIf="item.c_of_o">
                        <img src="assets/images/personalcard.svg" class="w-3 h-3">
                        <span class="text-[10px] font-bold text-white">C<span class="text-[10px]">of</span>O</span>
                    </div>
                    <div class="flex items-center bg-gradient-to-l from-main-dark to-[#7A2D9380] p-1"
                        *ngIf="item.kyc">
                        <img src="assets/images/personalcard.svg" class="w-2 h-2">
                        <span class="text-[10px] font-bold text-white">KYC</span>
                    </div>
                </div>
                <img src="assets/images/play-cricle.png" class="" *ngIf="item.doxxed">
            </div>
        </div>
    </div>
</section>
