<div class="mb-16">
    <app-search-input></app-search-input>
    <div *ngIf="isLoading; else content" class="flex items-center justify-center h-screen">
        <!-- Loader component or HTML/CSS for loading spinner -->
        <div class="text-center">
            <div role="status">
                <svg aria-hidden="true"
                    class="inline w-8 h-8 text-gray-50 animate-spin dark:text-gray-600 fill-blue-600"
                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill" />
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <ng-template #content>
        <app-trending [filteredData]="filteredData" [main_data]="main_data"
            (cardSelected)="selectCards($event)"></app-trending>
        <!-- items info page -->
        <section class="bg-[#F9FBFA] p-4">
            <div class="w-full h-[85px] mb-3">
                <img src="assets/images/banner.png" class="w-full h-full object-cover">
            </div>
            <main class="relative p-4 pt-5 m-3 shadow-xl rounded-3xl bg-white" *ngIf="selectedCard">
                <div *ngIf="selectedCard.clonable"
                    class="absolute top-0 left-0 bg-main-dark text-xs text-white w-fit px-4 rounded-tl-3xl rounded-br-3xl py-[2px] font-semibold">
                    Clonable
                </div>
                <div class="flex flex-col gap-4 mb-4">
                    <div class="flex justify-between items-start mb-4">
                        <div class="w-full flex flex-col">
                            <h1 class="text-lg text-main-dark font-bold mb-2">{{selectedCard.title}}</h1>
                            <div class="flex items-baseline gap-1 mb-2">
                                <img src="assets/images/location-b.svg" class="">
                                <span class="text-xs font-medium">{{selectedCard.location}}</span>
                            </div>
                            <h1 *ngIf="selectedCard.kyc" class="text-sm text-yellow-500 font-bold mb-2">KYC Verified
                            </h1>
                        </div>
                        <div class="w-full basis-3/5 h-[150px] rounded-lg" *ngIf="selectedCard.doxxed">
                            <video class="h-full w-full object-cover rounded-lg brightness-50"
                                src="assets/videos/banner.webm" poster="assets/images/Rectangle 594.png"></video>
                            <img src="assets/images/play-cricle.svg"
                                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-12 h-12 cursor-pointer">
                        </div>
                    </div>
                    <h2 class="text-main-dark font-bold">{{selectedCard.price | currency: "NGN"}}</h2>
                    <div class="text-xs mb-4">{{selectedCard.description}}</div>
                    <div class="flex items-center justify-between gap-1 w-full mb-5">
                        <img src="assets/images/Rectangle 596.png" class="h-32 w-full basis-1/2" alt="">
                        <div class="w-full rounded-lg h-32 basis-1/2 relative">
                            <video class="h-full w-full object-cover rounded-lg brightness-50"
                                src="assets/videos/banner.webm" poster="assets/images/Rectangle 597.png"></video>
                            <img src="assets/images/play-cricle.svg"
                                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-12 h-12 cursor-pointer">
                        </div>
                    </div>
                    <div
                        class="flex gap-1 justify-between items-center bg-[#ffeab3] border border-yellow-500 rounded-lg p-2 w-full text-main-dark mb-10">
                        <div class="flex items-center">
                            <h2 class="text-xs font-semibold mr-[1px]">CofO</h2>
                            <img *ngIf="selectedCard.c_of_o" src="assets/images/tick-square.svg" class="" alt=""
                                title="uploded">
                            <img *ngIf="!selectedCard.c_of_o" src="assets/images/send-square.svg" class="cursor-pointer"
                                alt="" (click)="CofOfileInput.click()">
                            <input #CofOfileInput type="file" hidden (change)="onFileSelected($event, 'c_of_o')">
                        </div>
                        <div class="flex items-center">
                            <h2 class="text-xs font-semibold mr-[1px]">Search</h2>
                            <img *ngIf="selectedCard.searched" src="assets/images/tick-square.svg" class="" alt="">
                            <img *ngIf="!selectedCard.searched" src="assets/images/send-square.svg"
                                class="cursor-pointer" alt="" (click)="searchfileInput.click()">
                            <input #searchfileInput type="file" hidden (change)="onFileSelected($event, 'searched')">
                        </div>
                        <div class="flex items-center">
                            <h2 class="text-xs font-semibold mr-[1px]">Survey</h2>
                            <img *ngIf="selectedCard.survey" src="assets/images/tick-square.svg" class="" alt="">
                            <img *ngIf="!selectedCard.survey" src="assets/images/send-square.svg" class="cursor-pointer"
                                alt="" (click)="surveyfileInput.click()">
                            <input #surveyfileInput type="file" hidden (change)="onFileSelected($event, 'survey')">
                        </div>
                    </div>

                    <div class="flex justify-between">
                        <button routerLink="/edit-property/{{propertyId}}/{{selectedCard.user_id}}"
                            class="px-4 h-fit py-1 w-28 text-main-dark border outline-none border-main-dark rounded font-bold">
                            Edit
                        </button>
                        <button (click)="openModal()"
                            class="px-4 h-fit py-1 w-28 text-white border outline-none bg-main-dark border-main-dark rounded font-bold">
                            Delete
                        </button>
                        <button class="py-1 relative" (click)="opencopyTab()">
                            <img src="assets/images/solar_share-line-duotone.svg" class="ml-auto" alt="">
                            <div class="bg-main-light absolute -top-[150%] right-0 z-[51] flex gap-5 rounded-xl px-5 py-1 border border-main-light w-fit"
                                *ngIf="copyTab">
                                <button
                                    class="flex flex-col gap-1 text-[10px] text-main-dark items-center font-semibold"
                                    (click)="copy_to_clipboard()">
                                    <img src="assets/images/ph_link-duotone.svg" class="" alt="">
                                    Copy Link
                                </button>
                                <!-- <button
                                    class="flex flex-col gap-1 text-[10px] text-main-dark items-center font-semibold">
                                    <img src="assets/images/ic_twotone-cyclone.svg" class="" alt="">
                                    Clone
                                </button> -->
                            </div>
                        </button>
                    </div>
                </div>
            </main>

            <div *ngIf="showCopiedAlert"
            class="absolute top-10 right-[6px] w-72 bg-main-dark text-white h-10 flex py-[1px] items-center justify-between rounded">
            <p class="font-bold px-5 text-sm">Link Copied</p>
                <div class="flex gap-2 h-10 px-2">
                    <div class="w-[1px] bg-white h-[100%]"></div>
                    <img src="assets/images/good.svg" class="w-8 h-9 cursor-pointer">
                </div>
            </div>

            <div class="" *ngIf="!selectedCard">
                <div class="">
                    <h1 class="text-2xl text-main-dark">Invaild Link</h1>
                </div>
            </div>

        </section>
    </ng-template>
</div>
<app-fab></app-fab>
<app-nav></app-nav>
<app-notify-card *ngIf="showMessage" [title]="messageTitle" [description]='description'></app-notify-card>
<app-modal [loading]="isModalLoading"></app-modal>
<!-- <app-modal doneLink = "/profile" [success]="isModalSuccess"></app-modal> -->

<div *ngIf="isModal" class="fixed top-0 right-0 bottom-0 left-0 bg-black opacity-50 z-40"></div>
<!--modal-->
<div id="popup-modal" tabindex="-1" *ngIf="isModal"
    class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow">
            <button type="button"
                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                (click)="closeModal()">
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete
                    the Advert?
                </h3>
                <button data-modal-hide="popup-modal" type="button" (click)="deletePost()"
                    class="text-white bg-main-dark hover:bg-[#7A2D9395] focus:ring-4 focus:outline-none focus:bg-[#7A2D9395] font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                    Yes
                </button>
                <button data-modal-hide="popup-modal" type="button" (click)="closeModal()"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">No,
                    cancel</button>
            </div>
        </div>
    </div>
</div>