<div class="mt-5">
    <app-topbar item="Payment"></app-topbar>
    <main class="p-5 pt-0">
        <div>
            <p class="font-medium mb-5">Upon clicking Continue, an invoice will be generated which you can use to make
                the necessary payment.</p>
            <p class="font-medium mb-5"><span class="font-bold">NB:</span> Upon the generation of your invoice, you will
                not be able to re-generate another invoice for this particular property for the next 30 minutes.</p>
        </div>
        <div>
            <button type="button" [routerLink]="'/purchase/invoice/' + id + '/' + userid"
                class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
                Next
            </button>
        </div>
    </main>
</div>