<header class="p-5 mb-5">
    <div class="relative">
        <h2 class="font-bold text-lg text-center">Payment</h2>
    </div>
</header>
<main class="p-5">
    <div class="w-full p-10 max-h-[20rem] h-[20rem]">
    <img src="assets/images/Group 432.svg" class="w-full h-full">
</div>
    <h2 class="font-bold text-main-dark text-center">Awaiting confirmation!</h2>
    <button type="button"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Go to saved proprerties
        </button>

</main>