<div class="mb-16">
<div *ngIf="showSearch">
    <div class="flex gap-2 items-center py-5 justify-between px-5">
        <div class="rounded-3xl border-main-dark border flex p-2 items-center w-full">
            <img src="assets/images/search-normal.svg" class="w-6 h-6" alt="search-icon">
            <input class="w-full outline-none rounded-r-xl pl-3 bg-transparent placeholder:font-semibold" type="text"
                placeholder="Search" (click)="onInputClick()" (keyup)="onKeyUp($event)" autofocus
                [(ngModel)]="searchTerm" (keydown.enter)="onSearch($event)" />
        </div>
        <div class="flex gap-1">
            <button class="border-0">
                <img src="assets/images/sort.svg" class="w-6 h-6" alt="sort" />
            </button>
            <button (click)="openFilterScreen()">
                <img src="assets/images/filter.svg" class="w-6 h-6" alt="filter">
            </button>
        </div>
    </div>

    <!-- when the search input is selected this is what is shown , the history-->

    <div class="px-5" *ngIf="showHistory">
        <h2 class="text-sm text-gray-500 font-bold flex items-center gap-2 py-2">
          <img src="assets/images/history.svg" class="">
          History
        </h2>
        <ul class="text-xm font-medium" *ngFor="let history of searchHistory">
          <li class="pl-[33px] p-2 text-xs cursor-pointer" (click)="onHistoryClick(history)">
            {{ history }}
          </li>
        </ul>
      </div>

    <!-- search suggestion -->

    <div class="px-5" *ngIf="showSuggestions && (searchResults.length == 0)">
        <ul class="text-xm font-medium" *ngFor="let suggestion of suggestions">
          <li class="pl-[33px] p-2 text-xs cursor-pointer" (click)="onSuggestionClick(suggestion)">
            {{ suggestion }}
          </li>
        </ul>
      </div>


    <!-- search results -->
    <div *ngIf="searchResults.length > 0">
        <div class="px-5 mb-2">
            <h2 class="text-xs text-gray-500">Showing results for ”<span
                    class="font-bold text-black">{{searchTerm}}</span>”</h2>
        </div>
        <div class="px-5 flex-col gap-5 w-full">

            <!-- the card -->
            <app-property-item *ngFor="let result of searchResults" [item]="result"></app-property-item>
        </div>
    </div>
    <div class="px-5" *ngIf="searchResults.length == 0 && showResults">
        <h2 class="text-xs text-gray-500">No results found for ”<span
                class="font-bold text-black">{{searchTerm}}</span>”</h2>
    </div>

</div>
<!-- search filter -->

<app-filter *ngIf="showFilter" [showFilter]="showFilter" [showSearch]="showSearch" (closeFilter)="closeFilterScreen()"></app-filter>

<app-fab></app-fab>
</div>
<app-nav></app-nav>