<div>
    <header class="p-5 pt-1 pb-0">
        <div class="flex gap-2 items-center py-5 justify-between">
            <div class="rounded-3xl border-main-dark border flex p-2 items-center">
                <img src="assets/images/search-normal.svg" class="w-6 h-6" alt="search-icon">
                <input class="w-full outline-none rounded-r-xl pl-3 placeholder:font-semibold" type="search"
                    placeholder="Search">
            </div>
            <img src="assets/images/sort.svg" class="w-6 h-6" alt="filter">
            <img src="assets/images/filter.svg" class="w-6 h-6" alt="filter">
        </div>
        
    </header>
    <div class="px-5">
        <ul class="text-xm font-medium">
            <li class="text-sm text-gray-500 font-bold flex items-center gap-2 py-2">
                <img src="assets/images/history.svg" class="">
                History
            </li>
            <li class="pl-[33px] p-2 text-xs">
                Ubollo
            </li>
            <li class="pl-[33px] p-2 text-xs">
                Enugu
            </li>
        </ul>
    </div>
    
</div>
<div class="fixed bottom-20 right-4">
    <button class="bg-main-dark rounded-full border-main-dark">
        <img src="assets/images/add.svg" class="">
    </button>
</div>