<header class="p-5 mb-5">
    <div class="relative">
        <div class="absolute top-0 left-0">
            <app-back></app-back>
        </div>
        <h2 class="font-bold text-lg text-center">Preview</h2>
    </div>
</header>
<h2 class="px-5 text-sm font-bold mb-3">
    Media files
</h2>
<div class="pt-0 p-5 flex items-center justify-between gap-3 w-full mb-5">
    <img src="assets/images/Rectangle 596.png" class="h-32 w-full basis-1/2" alt="">
    <div class="w-full rounded-lg h-32  basis-1/2" style="position: relative;">
        <video class="h-full brightness-50 w-full" src="assets/videos/banner.webm"
            poster="assets/images/Rectangle 597.png"
            style="object-fit: cover; width: 100%; border-radius: 0.5rem;"></video>
        <img src="assets/images/play-cricle.svg"
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;">
    </div>
</div>
<div class="p-5 pt-0  font-medium">
    <h2 class="text-sm font-bold mb-3">
        Personal Details
    </h2>
    <div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="basis-1/2">
                <h3 class="text-xs text-gray-500 mb-1">Email</h3>
                <h3 class="text-xs text-black">Johndoemail.com</h3>
            </div>
            <div class="basis-1/2">
                <h3 class="text-xs text-gray-500 mb-1">Number</h3>
                <h3 class="text-xs text-black">123455678909</h3>
            </div>
        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Name</h3>
                <h3 class="text-xs text-black">John Deo</h3>
            </div>

        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Address</h3>
                <h3 class="text-xs text-black">John Deo</h3>
            </div>

        </div>
    </div>
</div>

<div class="p-5 pt-0  font-medium">
    <h2 class="text-sm font-bold mb-3">
        Property Details
    </h2>
    <div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Title</h3>
                <h3 class="text-xs text-black">Johndoemail.com</h3>
            </div>
        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Location</h3>
                <h3 class="text-xs text-black">123455678909</h3>
            </div>
        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="">
                <h3 class="text-xs text-gray-500 mb-1">Description</h3>
                <h3 class="text-xs text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
                    dignissimos ut itaque modi delectus laboriosam totam beatae soluta voluptate eos suscipit
                    deserunt ipsum officiis harum neque iure doloremque, facere dolores.</h3>
            </div>

        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="basis-1/2">
                <h3 class="text-xs text-gray-500 mb-1">Category</h3>
                <h3 class="text-xs text-black">Johndoemail.com</h3>
            </div>
            <div class="basis-1/2">
                <h3 class="text-xs text-gray-500 mb-1">Price</h3>
                <h3 class="text-xs text-black">123455678909</h3>
            </div>
        </div>
        <div class="mb-3 flex justify-between gap-2 w-full">
            <div class="basis-1/2">
                <h3 class="text-xs text-gray-500 mb-1">City</h3>
                <h3 class="text-xs text-black">Johndoemail.com</h3>
            </div>
            <div class="basis-1/2">
                <h3 class="text-xs text-gray-500 mb-1">State</h3>
                <h3 class="text-xs text-black">123455678909</h3>
            </div>
        </div>
        <button type="submit"
                    class="w-full mt-5 text-sm text-center py-3 border rounded-md font-bold bg-main-dark text-white border-main-dark">
                    Confrim
        </button>
    </div>
</div>