<div *ngIf="!isDone">
<header class="p-5 mb-5">
    <div class="relative">
        <h2 class="font-bold text-lg text-center">Payment</h2>
    </div>
</header>
<main class="p-5">
    <div class="w-full p-10 max-h-[20rem] h-[20rem]">
    <img src="assets/images/Group 432.svg" class="w-full h-full">
</div>
    <h2 class="font-bold text-main-dark text-center">Awaiting confirmation!</h2>
    <button type="button" routerLink="/saved"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            <span className="flex items-center justify-center">
                <svg
                  className="animate-spin -ml-1 mr-2 h-5 w-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle
                    className="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    strokeWidth="4"
                  ></circle>
                  <path
                    className="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 004 12H0c0 3.042 1.135 5.824 3 7.938l3-1.647zm9-3.045A7.963 7.963 0 0020 12h-4c0-3.042-1.135-5.824-3-7.938l-3 1.647z"
                  ></path>
                </svg>
                Confirming...
              </span>
        </button>

</main>
</div>
<div class="" *ngIf="isDone">
    <app-all-done title="Payment" body="All done!" image="Group 431.svg" page_link="/profile" page_to="Profile"></app-all-done>
</div>