<!-- <div class="mt-5">
<app-topbar item="Notifications"></app-topbar>
<main class="p-5 pt-0">
<div class="">
    <h2 class="text-sm font-bold">Your proprerty has just been approved</h2>
    <p class="text-xs font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptate sit
         voluptatum illum e </p>
</div>
</main> -->




<!-- 
<div class="mt-5">
    <app-topbar item="Confirmation"></app-topbar>
    <main class="p-5 pt-0">
        <div class="">
            <p class="font-semibold mb-5"> I <span class="text-main-dark"> Lorem ipsum dolor</span> sit amet consectetur
                adipisicing elit. Veritatis, hic, accusamus quo consequatur commodi expedita porro aspernatur mollitia,
                dolores rerum perspiciatis numquam at distinctio? Dolorum commodi labore vero placeat accusantium.</p>
            <p class="text-xs text-gray-600 mb-5">*Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
                explicabo
                consequuntur ipsa.</p>

            <div class="flex gap-2 items-center">
                <div class="h-5 w-6 border border-main-dark"></div>
                <h2 class="font-bold">I agree and confirm</h2>
            </div>
        </div>
        <div class="">
        <button type="button"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Confirm
        </button>
        </div>
    </main>
</div> -->







<!-- <div class="pt-20">

    <div class="flex w-full shadow-lg shadow-gray-200">
        <div class="font-bold text-main-dark border-b-4 border-main-dark w-full text-center cursor-pointer">Sold</div>
        <div class="font-bold text-gray-500 border-b-4 border-transparent w-full text-center cursor-pointer">Bought</div>
    </div>
</div> -->
<!-- <main class="p-5">
    <div class="flex bg-white gap-2 border rounded-xl p-1 w-full cursor-pointer mb-2" *ngIf="item" (click)="selectCard(item)">
    <div class="h-20 w-[75px]">
        <img src="assets/images/bg.png" class="h-full rounded-xl" width="80">
    </div>
    <div class="w-full">
        <h2 class="text-sm font-bold">{{item.title}}</h2>
        <div class="flex items-center py-1">
            <img src="assets/images/location.svg" class="w-3 h-3" alt="location">
            <span class="text-xs text-main-dark">{{item.location}}</span>
        </div>
        <h4 class="text-main-dark font-bold text-sm">{{item.price | currency}}</h4>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-1">
                <div class="flex items-center bg-gradient-to-l from-black to-[#000000BF] p-1" *ngIf="item.c_of_o">
                    <img src="assets/images/personalcard.svg" class="w-3 h-3">
                    <span class="text-xs font-bold text-white">C<span class="text-[8px]">of</span>O</span>
                </div>
                <div class="flex items-center bg-gradient-to-l from-main-dark to-[#7A2D9380] p-1" *ngIf="item.kyc">
                    <img src="assets/images/personalcard.svg" class="w-3 h-3">
                    <span class="text-xs font-bold text-white">KYC</span>
                </div>
            </div>
        </div>
    </div>
</div>
</main> -->



<!-- Awaiting -->




<!-- done -->

<header class="p-5 mb-5">
    <div class="relative">
        <h2 class="font-bold text-lg text-center">Payment</h2>
    </div>
</header>
<main class="p-5">
    <div class="w-full p-10 max-h-[20rem] h-[20rem]">
    <img src="assets/images/Group 431.svg" class="w-full h-full">
</div>
    <h2 class="font-bold text-main-dark text-center">All done!</h2>
    <button type="button"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Go to my proprerties
        </button>

</main>



<!-- fully done -->

<!-- <header class="p-5 mb-5">
    <div class="relative">
        <h2 class="font-bold text-lg text-center">Congratulations</h2>
    </div>
</header>
<main class="p-5">
    <div class="w-full p-10 max-h-[20rem] h-[20rem]">
    <img src="assets/images/Group 439.png" class="w-full h-full">
</div>
    <h2 class="font-bold text-main-dark text-center">The property is now yours!!</h2>
    <button type="button"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            View in My Proprerties
        </button>

</main> -->


<!-- KYC -->


<!-- <div class="mt-5">
    <app-topbar item="KYC Verfication"></app-topbar>
    <main class="p-5">
        <div class="w-full p-5 pt-0 max-h-[18rem] h-[18rem]">
            <img src="assets/images/Group 429.svg" class="w-full h-full">
        </div>
        <div class="">
            <p class="text-sm mb-5">Your KYC verification will involve 3 steps. please select your preferred KYC ID/Document below</p>
            <div class="flex gap-2 flex-col p-5">
                <div class="flex px-5 w-full py-3 justify-between items-center bg-white border rounded-lg border-main-light cursor-pointer">
                    <img src="assets/images/solar_user-id-bold-duotone.svg" class="">
                    <p class="text-sm px-3">National ID Card</p>
                </div>
                <div class="flex px-5 w-full py-3 justify-between items-center bg-white border rounded-lg border-main-light cursor-pointer">
                    <img src="assets/images/solar_card-2-bold-duotone.svg" class="">
                    <p class="text-sm px-3">Driver's Licence</p>
                </div>
                <div class="flex px-5 w-full py-3 justify-between items-center bg-white border rounded-lg border-main-light cursor-pointer">
                    <img src="assets/images/icon-park-twotone_id-card.svg" class="">
                    <p class="text-sm px-3">Voter's Card</p>
                </div>
            </div>
        </div>
    </main>
</div> -->


<!-- KYC Verfication -->

<!-- <div class="mt-5">
    <app-topbar item="KYC Verfication"></app-topbar>
    <main class="p-5">
        <div class="border-4 border-dashed border-main-light rounded-3xl px-5 py-3 flex flex-col items-center mb-5">
            <img src="assets/images/solar_user-id-bold-duotone(1).svg" class="">
            <p class="text-sm px-3 text-center text-gray-400 font-semibold">Please take a picture of the front part of
                your ID card</p>
        </div>
        <div class="border-4 border-dashed border-main-light rounded-3xl px-5 py-3 flex flex-col items-center mb-8">
            <img src="assets/images/solar_card-bold-duotone.svg" class="">
            <p class="text-sm px-3 text-center text-gray-400 font-semibold">Please take a picture of the front part of
                your ID card</p>
        </div>
        <div class="mb-10 flex gap-2 w-full items-center">
            <h2 class="font-bold text-sm">ID Number:</h2>
            <input class="w-fit rounded bg-slate-200 px-3 py-1" type="text">
        </div>
        <button type="button"
            class="w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Next
        </button>
    </main>
</div> -->


<!-- KYC Verfication  video-->

<!-- <div class="mt-5">
    <app-topbar item="KYC Verfication"></app-topbar>
    <main class="p-5">
        <div class="rounded-3xl h-72 w-full bg-zinc-800">

        </div>
        <div class="flex flex-col items-center mt-4 mb-8">
            <div
                class="h-20 w-20 rounded-full outline-gray-500 outline-1 outline border-[3px] border-gray-300 bg-red-600 mb-3">
            </div>
            <p class="text-sm px-3 text-center text-gray-400 font-semibold">Please take a selfie picture of your face.
                Use the red button above to capture</p>
        </div>
        <button type="button"
            class="w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Next
        </button>
    </main>
</div> -->

<!-- KYC Verfication  Done-->


<!-- <div class="mt-5">

    <header class="p-5 mb-5">
        <div class="relative">
            <h2 class="font-bold text-lg text-center">KYC Verfication</h2>
        </div>
    </header>
    <main class="p-5">
        <div class="w-full p-10 max-h-[20rem] h-[20rem]">
            <img src="assets/images/Group 431.svg" class="w-full h-full">
        </div>
        <h2 class="font-bold text-main-dark text-center">All done!!</h2>
        <button type="button"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Back to home
        </button>

    </main>
</div> -->

<!-- 
<div class="mt-5">
    <app-topbar item="Confirmation"></app-topbar>
    <main class="p-5 pt-0">
        <div class="">
            <p class="font-semibold text-sm mb-5"> I <span class="text-main-dark"> Andrew Townsen</span>  the buyer hereby confirm that i have inspected all necessary documents pertaining to this document and i am satisfied with the whole process and wish to proceed the buyer hereby confirm that i have inspected all necessary documents pertaining to
                 this document and i am satisfied with the whole process and wish to proceed.</p>
            <p class="text-xs text-gray-600 mb-5">*Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
                explicabo
                consequuntur ipsa.</p>
                <div class="border-4 border-dashed border-main-light rounded-3xl px-5 py-3 flex flex-col items-center mb-8">
                    <img src="assets/images/clipboard-text.png" class="">
                    <p class="text-xs px-3 text-center text-gray-400 font-semibold">Please upload a copy of a court affidavit confirming your acceptance of this property</p>
                </div>
                

            <div class="flex gap-2 items-center">
                <div class="h-5 w-6 border border-main-dark"></div>
                <h2 class="font-bold">I agree and confirm</h2>
            </div>
        </div>
        <div class="">
        <button type="button"
            class="mt-20 w-full text-center py-2 border rounded-md font-bold bg-main-dark text-white border-main-dark">
            Confirm
        </button>
        </div>
    </main>
</div> -->



<main class="p-4 m-3 shadow-xl rounded-3xl bg-white" >
    <div class="flex gap-1 mb-4">
        <div class="w-full basis-3/5 flex flex-col justify-between">
            <div>
                <h1 class="text-lg text-main-dark font-bold mb-2">
                    8 Plots in Ijebu-Ode
                </h1>
                <div class="flex items-baseline gap-1 mb-2">
                    <img src="assets/images/location-b.svg" class="">
                    <span class="text-xs font-medium">Ijebu-Ode, Ogun State, Nigeria</span>
                </div>
                <h1 class="text-sm text-yellow-500 font-bold mb-2">
                    KYC Verified
                </h1>
            </div>
            <div class="flex justify-between">
                <h1 class="text-main-dark font-bold">N14,000</h1>
                <!-- <button class="px-2 text-sm text-white font-bold rounded-xl bg-main-dark border-main-dark">Save</button>
                <button
                    class="px-2 text-sm text-white hidden font-bold rounded-xl bg-main-dark border-main-dark">Unave</button> -->
            </div>
        </div>
        <div class="basis-2/5 w-full h-[150px] rounded-lg" style="position: relative;">
            <video class="h-full brightness-50" src="assets/videos/banner.webm" poster="assets/images/Rectangle 594.png"
                style="object-fit: cover; width: 100%; border-radius: 0.5rem;"></video>
            <img src="assets/images/play-cricle.svg"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;">
        </div>
    </div>
    <div class="text-xs mb-4">
        Situated on the beautiful banks of the lorem lorem just beside the lorem ipsium, this very lorem piece of land provides you with a beautiful view of the ipsium and a close proximity to the abeokuta airport. Furthermore, this land is siutuat3e near the highway and commercial center of Ogun State
    </div>
    <div class="flex items-center justify-between gap-1 w-full mb-5">
        <img src="assets/images/Rectangle 596.png" class="h-32 w-full basis-1/2" alt="">
        <div class="w-full rounded-lg h-32  basis-1/2" style="position: relative;">
            <video class="h-full brightness-50 w-full" src="assets/videos/banner.webm"
                poster="assets/images/Rectangle 597.png"
                style="object-fit: cover; width: 100%; border-radius: 0.5rem;"></video>
            <img src="assets/images/play-cricle.svg"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;">
        </div>
    </div>
    <div class="flex gap-1 justify-between items-center bg-[#ffeab3] border border-yellow-500 rounded-lg p-2 w-full text-main-dark mb-10">
            <div class="flex items-center">
                <h2 class="text-xs font-semibold mr-[1px]">CofO</h2>
                <img src="assets/images/send-square.svg" class="" alt="">
            </div>
            <div class="flex items-center">
                <h2 class="text-xs font-semibold mr-[1px]">Search</h2>
                <img src="assets/images/tick-square.svg" class="" alt="">
            </div>
            <div class="flex items-center">
                <h2 class="text-xs font-semibold mr-[1px]">Survey</h2>
                <img src="assets/images/send-square.svg" class="" alt="">
            </div>
            <!-- <input type="file"> -->
        
        <!-- <div class="flex items-center bg-gradient-to-l from-black to-[#000000BF] p-1">
            <img src="assets/images/personalcard.svg" class="w-7 h-7">
            <span class="text-sm font-bold text-white">C<span class="text-[8px] font-extralight">of</span>O</span>
        </div>
        <div class="flex items-center bg-gradient-to-l from-main-dark to-[#7A2D9380] p-1">
            <img src="assets/images/personalcard.svg" class="w-7 h-7">
            <span class="text-sm font-bold text-white">KYC</span>
        </div> -->
    </div>

    <div class="flex justify-between">
        <button class="px-4 py-1 w-28 text-main-dark border outline-none border-main-dark rounded font-bold">
            Edit
        </button>
        <button class="px-4 py-1 w-28 text-white border outline-none bg-main-dark border-main-dark rounded font-bold">
            Delete
        </button>
        <ul>
            <li></li>
        </ul>
    </div>
</main>

