<div class="mb-16">
    <header class="p-5 my-10">
        <div class="relative">
            <div class="absolute top-0 left-0">
                <app-back></app-back>
            </div>
            <h2 class="font-bold text-lg text-center">Setting</h2>
        </div>
    </header>
    <main class="px-5">
        <div class="flex justify-between items-center cursor-pointer mb-5" routerLink="/profile/change-password">
            <h3 class="text-sm font-semibold">Change Password</h3>
            <img src="assets/images/arrow-right.svg" alt="" class="">
        </div>
        <div class="flex justify-between items-center cursor-pointer mb-5">
            <h3 class="text-sm font-semibold">About Us</h3>
            <img src="assets/images/arrow-right.svg" alt="" class="">
        </div>
        <div class="flex justify-between items-center cursor-pointer mb-5">
            <h3 class="text-sm font-semibold">Privacy Policy</h3>
            <img src="assets/images/arrow-right.svg" alt="" class="">
        </div>

        <div class="flex justify-between items-center cursor-pointer mb-5" (click)="openModal()">
            <h3 class="text-sm font-semibold">Log out</h3>
            <img src="assets/images/arrow-right.svg" alt="" class="">
        </div>

    </main>

    <div *ngIf="isModal" class="fixed top-0 right-0 bottom-0 left-0 bg-black opacity-50 z-40"></div>
    <!--modal-->
    <div id="popup-modal" tabindex="-1" *ngIf="isModal"
        class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow">
                <button type="button"
                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    (click)="closeModal()">
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to log
                        out?</h3>
                    <button data-modal-hide="popup-modal" type="button" (click)="logout()"
                        class="text-white bg-main-dark hover:bg-[#7A2D9395] focus:ring-4 focus:outline-none focus:bg-[#7A2D9395] font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                        Yes
                    </button>
                    <button data-modal-hide="popup-modal" type="button" (click)="closeModal()"
                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">No,
                        cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-nav></app-nav>